[Unit]
Description=Finacc Django Gunicorn Service
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Finacc
EnvironmentFile=/home/ubuntu/Finacc/.env
ExecStart=/home/ubuntu/Finacc/venv/bin/gunicorn FA.wsgi:application --bind 127.0.0.1:8000 --workers 3 --timeout 120
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
