# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Logs
logs/
*.log

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.coverage.*

# Migrations cache
*/migrations/__pycache__/
